body {
    text-align: center;
    background: 
    linear-gradient(to right, red, yellow);
    top: 15%;
    letter-spacing: .5em;
    text-transform: uppercase;
}

input {
    height: 3rem;
    width: 6rem;
    padding: 0;
}

.random {
    height: 2rem;
    width: 18rem;
    border-radius: 15%;
    margin: 2em;

}

h1, h2, h3 {
    text-decoration: underline;
    margin: 2em;
}